@import 'settings';
@import 'foundation';
@include foundation-global-styles;
//@include foundation-grid;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-button-group;
//@include foundation-callout;
//@include foundation-card;
//@include foundation-close-button;
@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-responsive-embed;
@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
//@include foundation-float-classes;
@import 'vendor/font-awesome';

// Mixins
@mixin top-bar-width {
    width: 100%;
        
    @include breakpoint(medium) {
        width: auto;
    }
}

@mixin custom-flex-grid-row {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
}

// Tags
body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

h1 {
    color: $dark-gray;
}

h2 {
    font-weight: 400;
    line-height: 1.1;
    margin-top: $subheader-margin-top;
}

section {
    @include flex-grid-row();
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(30);
}

select {
    background-image: none;
    padding: 0 0.25rem;
}

a {
    &:focus {
        text-decoration: none;
    }
}

// Columns
.column-full {
    @include flex-grid-column();
    
    padding-right: rem-calc(30);
    padding-left: rem-calc(30);
    width: 100%;
    
    @include breakpoint(medium) {
        padding-right: rem-calc(40);
        padding-left: rem-calc(40);
    }
}

// Misc
.text-link
{
    font-weight: 600;
}

.home-banner-old {
    position: relative;
    z-index: 2;
    
    &-bkgd {
        background: linear-gradient(to bottom, $white 20%, #adcee3 100%); /* addef3 */
        overflow: hidden;
        position: relative;
    }
    
    &-circle {
        border: 40px solid $secondary-color;
        border-radius: 50%;
        position: absolute;
        width: 250px;
        height: 250px;
        z-index: 1;
    }
    
    &-section {
        padding-top: 0;
        padding-bottom: 0;        
    }
    
    &-subsection {
        @include flex-grid-row();
        justify-content: center;

        @include breakpoint(large) {
            justify-content: flex-start;
        }
    }
    
    &-text-column {
        @include flex-grid-column(12, 50);
        overflow: visible;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        position: relative;
        text-align: center;
        
        @include breakpoint(medium) {
            @include flex-grid-column(8, 0);
        }
        
        @include breakpoint(large) {
            @include flex-grid-column(5, 0);
            @include grid-column-offset(1);
            margin-top: 0;
            text-align: left;
        }
    }
    
    &-header {
        max-width: none;
        margin-bottom: 0.6em;
        position: relative;
        left: -2px;
    }
    
    .phase {
        @include label;
        color: scale-color($secondary-color, $lightness: 15%);
        font-size: rem-calc(11);
        padding: 0 0 0 3px;
        position: absolute;
        top: 2px;
        
        @include breakpoint(large) {
            left: 188px;
        }
    }
    
    &-text {
        color: scale-color($secondary-color, $lightness: -15%);;
        font-size: rem-calc(22);
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 1.0em;
    }
    
    &-button {
        @include button(false, $secondary-color, 'auto', $white, solid);
        font-size: 1.2rem;
        margin: 0;
        padding-right: 2.2rem;
        padding-left: 2.2rem;
        
        &:hover {
            text-decoration: none;
        }
    }
    
    
    &-camera-column {
        @include flex-grid-column(12, 0);
        height: 325px;
        position: relative;
        
        @include breakpoint(large) {
            @include flex-grid-column(6, 0);
        }
    }
    
    &-graphic {
        max-width: none;
        position: absolute !important;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%) translate3d(0px, 300px, 0px);
        width: 400px;
        
        @include breakpoint(large) {
            left: 40%;
        }
    }
}

.footer {
    background-color: #bdaec6;
    
    &-copyright {
        margin-bottom: 0;
    }
    
    &-github {
        margin-right: 0.07rem;
    }
}











h1 {
    
}

h3 {
    font-size: 26px;
    line-height: 1;
}

h4 {
    font-size: 22px;
    line-height: 1;
}

.section {
    padding: 2.5em 0;
}

.home-banner {
    background-color: #eee;
    padding: 3.0em 0;
    text-align: center;
}

.site-title {
    line-height: 1.1;
    position: relative;
}

.site-title-of {
    font-size: 50%;
    position: relative;
    top: -0.05em;
    left: -0.1em;
}

.site-description {
    margin-top: 2.5em;
    text-align: left;
}

/* only on large screens */
.site-description {
    margin-left: auto;
    margin-right: auto;
    width: 38em;
}

.icon {
    background-color: #ddd;
    height: 100px;
    position: relative;
    width: 100px;
}

.icon-symbol {
    background-color: #999;
    height: 26px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 26px;
}


.zone {
    background-color: #ddd;
    margin-bottom: 1.0em;
    padding: 2.5em;
    position: relative;
}


.letters-equal-icon .is-1 {
    top: 30%;
    left: 30%;
}

.letters-equal-icon .is-2 {
    top: 30%;
    left: 70%;
}

.letters-equal-icon .is-3 {
    top: 70%;
    left: 30%;
}

.letters-equal-icon .is-4 {
    top: 70%;
    left: 70%;
}



.letters-horizontal-icon .is-1 {
    top: 30%;
    left: 35%;
}

.letters-horizontal-icon .is-2 {
    top: 30%;
    left: 65%;
}

.letters-horizontal-icon .is-3 {
    top: 70%;
    left: 35%;
}

.letters-horizontal-icon .is-4 {
    top: 70%;
    left: 65%;
}



.letters-vertical-icon .is-1 {
    top: 35%;
    left: 30%;
}

.letters-vertical-icon .is-2 {
    top: 35%;
    left: 70%;
}

.letters-vertical-icon .is-3 {
    top: 65%;
    left: 30%;
}

.letters-vertical-icon .is-4 {
    top: 65%;
    left: 70%;
}


.letters-equal,
.letters-horizontal,
.letters-vertical {
    font-size: 3.0em;
    height: 8.0em;
    line-height: 1;
    padding: 0;
    text-align: center;
}


.letter {
    display: inline-block;
    padding: 1.0em 0;
    text-transform: uppercase;
    /*text-align: center;*/
    width: 2.6em;
    /*height: 3.0em*/
}

.letters-horizontal .letter {
    width: 0.4em;
}


.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.valign-middle {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.letters-vertical .i,
.letters-vertical .n {
    padding-bottom: 0;
}

.letters-vertical .t,
.letters-vertical .o {
    padding-top: 0;
}

.forms {
    background-color: #f3f3f3;
}

/* only on large screens */
.forms .zone {
    height: 28.0em;
}

.zone > label:first-child {
    margin-top: 0;
}

/* only on large screens */
.forms-misleading {
    /*padding-right: 2.0em;*/
}

.forms-misleading label {
    margin-bottom: 1.5em;
}

.forms-misleading input {
    margin: 0.5em 0;
}

/* only on large screens */
.forms-ambiguous {
    /*padding-right: 2.0em;*/
}

.forms-ambiguous label, 
.forms-ambiguous input {
    margin: 0.5em 0;
}

/* only on large screens */
.forms-clear {
    /*padding-left: 2.0em;*/
}

.forms-clear label {
    margin-top: 0.75em;
}

footer {
    background-color: #eee;
}

.footer-copyright {
    margin: 0;
}